<%- include('../partials/header') %>

<div class="container">
  <form method="POST">
    <div class="mb-3">
      <label for="judul" class="form-label">Judul Buku</label>
      <input type="text" class="form-control" name="judul" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="jenis" class="form-label">Jenis Buku</label>
      <div class="input-group">
        <select class="form-select form-control" name="jenis">
          <option value="Novel">Novel</option>
          <option value="Ekonomi">Ekonomi</option>
          <option value="Ensiklopedi">Ensiklopedi</option>
          <option value="Biografi">Biografi</option>
          <option value="Teknologi">Teknologi</option>
          <option value="Sains">Sains</option>
          <option value="Bahasa">Bahasa</option>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <label for="pengarang" class="form-label">Pengarang</label>
      <input type="text" class="form-control" name="pengarang">
    </div>
    <div class="mb-3">
      <label for="penerbit" class="form-label">Penerbit</label>
      <input type="text" class="form-control" name="penerbit">
    </div>
    <div class="mb-3">
      <label for="tahun_terbit" class="form-label">Tahun Terbit</label>
      <input type="text" class="form-control" name="tahun_terbit">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/buku" class="btn btn-danger">Batalkan</a>
  </form>
</div>

<%- include('../partials/footer') %> 